.postContainer {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    margin-top: 1vh;
}

.post {
    display: grid;
    grid-template-columns: 1fr 10fr 0.1fr;

}

.post img {
    width: 50px;
    border-style: solid;
    border-radius: 30px;
    border-color: black;
}

.avatarAndDateBlock {
    text-align: center;
    margin: 1vh;
}

.bugType {
    font-weight: bold;
    color: red;
}

.taskType {
    color: #000ade;
    font-weight: bold;
}

.text {
    text-align: justify;
    margin-top: 5px;
    font-weight: normal;
    margin-right: 50px;
    font-size: 16px;
}

.options {
    margin: 4px 8px;
    gap: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.options img {
    width: 18px;
    border: none;
    border-radius: 0;
}

.options img:hover {
    cursor: pointer;
}

.statusBar {
    height: 20px;
    padding: 2px;
    margin: 2px;
    background-color: lightblue;
    border-radius: 5px;
}