.nav {
    grid-area: n;
    background-color: #1d1d1d;
    font-size: 24px;
    border-radius: 10px;
    margin: 8px 4px;
}

.item a {
    display: flex;
    color: white;
    text-decoration: none;
    margin: 12px 8px;
    padding: 4px 8px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    font-weight: 300;

}

.item a:hover {
    background-color: #ccc;
}


.item a.active {
    background-color: lightslategray;
    font-weight: 600;
}