.postContainer {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    margin-top: 1vh;
}

.post {
    display: grid;
    grid-template-columns: 1fr 10fr;

}

.post img {
    width: 50px;
    border-style: solid;
    border-radius: 30px;
    border-color: black;
}

.avatarAndDateBlock {
    text-align: center;
    margin: 1vh;
}

.text {
    text-align: justify;
    margin-top: 5px;
}


.statusBar {
    height: 20px;
    padding: 2px;
    margin: 2px;
    background-color: lightblue;
    border-radius: 5px;
}