.nav {
    grid-area: n;
    background-color: black;
    font-size: 150%;
    font-family: "Comic Sans MS";
}

.item a {
    display: flex;
    color: white;
    text-decoration: none;
    margin: 1vh 0.5vw;
    padding-left: 1vw;
    border-radius: 4px;
    border-style: solid;

}

.item a:hover {
    background-color: #ccc;
}


.item a.active {
    background-color: lightslategray;
    font-weight: bold;
}