.tasks {
    font-weight: bold;
    margin-top: 2vh;
}

button {
    margin: 2vh;
    font-family: "Lucida Console";
}

.ta {
    width: 600px;
    height: 100px;
    resize: none;
    padding: 7px;
}

.settings {

}

select {
    width: 120px;
}
