.tasks {
    font-weight: bold;
    margin-top: 8px;
}

.projectsBlock img {
    width: 15px;
    margin: 4px 4px 4px 8px;
}

.projectsBlock img:hover {
    cursor: pointer;
}

.headerButtons {
    margin: 0;
}

.myTasksHeader {
    display: flex;
    align-items: center;
    gap: 12px;
}
